<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="id">Id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          required
          [(ngModel)]="employee.id"
          name="id"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          id="name"
          required
          [(ngModel)]="employee.name"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          class="form-control"
          id="age"
          required
          [(ngModel)]="employee.age"
          name="age"
        />
      </div>

      <button (click)="saveEmployee()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>employee was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newEmployee()">Add</button>
    </div>
  </div>
</div>
